.btn button{
background-color: black;
opacity: 0.8;
color: white;
width: 270px;
height: 50px;
font-weight: bolder;
font-size: large;
}
.btn{
    height: 100vh;
display: flex;
justify-content: center; 
align-items: center;
}